@media (min-width: 768px) and (max-width: 1024px){
body{    
	margin:0;
	padding:0;
	top:0;
}
/***********************************/

/***************************************/

.header-top {
	padding:0 0 0 0;
	background-color:#353b47;
}
.header-inner{
	width:100%;
	margin:0 auto;
	top:20;
	left:0;
	background-color:#353b47;
	z-index:999999;
}
.logo {
	width:150px;
	text-align: center;
	float: left;
	padding:1% 0 0 0;
	margin: 0 auto;
}

.slider {
	 margin-bottom:0;
	 height:450px;
}
.slider h1 { 
	padding-top:15%;
	font-size:18px;
	text-align:center;
	color:#ffffff;
}
.dropdown11{
	text-align:center;
	margin:auto;
	width:315px;
	margin-top:5%;
}
.wrap{
	width:100%;
    background: url(../images/banner_bg2tab.jpg) no-repeat top fixed;
	background-size: 100%;

}
.wrap2{
	width:100%;
}

/******************************we featured in*/
.m_3_3{
	text-align: center;
	position: relative;
	text-transform:none;
	color:#333;
	font-size:12px;
	padding:2% 0;
	background-color:#eee;
	}
	.m_3_3 img{
		width:7%; height:7%;
		margin:1%;
	}

/*********************************substitute of skrollr***/
.main{ background-color:#ffffff;}
.main-slide-2{
	display:none;
}
.main-slide-2c{
	display:block;
}
.main-slide-3{
	display:none;
}
.main-slide-3c{
	display:block;
}
.main-slide-4{
	display:none;
}
.main-slide-4c{
	display:block;
}


/*  fixed footer */
.footer-fixed {
	background: #21252e;
	padding: 0;
	width:100%;
	bottom:0;
	position:fixed;
	height:auto;
}
.footer-fixed a {
	color:#FFF;
}
.footer-fixed a:hover {
	color:#ffa540;
}
.footer-inner {
	width:100%;
	margin:auto;
	font-size:12px;
	float:left;
}
.footer-fixed1 {
	float:none;
	width:100%;
	text-align:center;
	margin:auto;
	padding:4px 0 4px 0;
	font-size:14px;
}
.footer-fixed2 {
	display:none;
}
.footer-fixed3 {
	display:none;
}
.footer-fixed4 {
	display:none;
}

.footer-fixed5 {
	display:none;

}
.footer-fixed6 {
	display:none;
}
.fixedfrmSubmit {
	height:15px;
	font-size:11px;
	float:left;
	margin-right:5px;
	width:100px;
}

}