<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    
    <add name="con" connectionString="server=103.234.184.20,6434;database=FP;uid=fincart;pwd=FFhgTA7754Ar; Connect Timeout=3000" />
    
    
    <add name="mycon" connectionString="server=103.234.184.20,6434;database=FP;uid=fincart;pwd=FFhgTA7754Ar; Connect Timeout=3000"/>
  
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>        
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      <add name ="Captcha" verb="*" path="Image.ashx" type="ASPNET_Captcha.Image, ASPNET_Captcha" resourceType="Unspecified"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <rewrite>
            <rules>
                <rule name="Hide .aspx ext">
                    <match url="^(.*)$" ignoreCase="true" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}.aspx" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}.aspx" />
                </rule>
                <rule name="Redirect .aspx ext" stopProcessing="true">
                    <match url="^(.*).aspx$" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="(.*).aspx$" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <sessionState timeout="60000"></sessionState>
    <compilation debug="true" targetFramework="4.0"/>    
  </system.web>
  
</configuration>