<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="con" connectionString="server=103.234.184.20,6434;database=PortView;uid=sa;pwd=Plio89iuy65; Connect Timeout=3000"/>
    <!--<add name="con" connectionString="server=ARUP-PC\SQLEXPRESS;database=FP;uid=sa;pwd=arup123; Connect Timeout=3000"/>-->
    <!--<add name="con" connectionString="server=103.234.184.20,6434;database=FP;uid=sa;pwd=Plio89iuy65; Connect Timeout=3000" />-->
    
    <!--<add name="con" connectionString="server=my-portfolio.in;database=FP;uid=sa;pwd=investwell123; Connect Timeout=3000"/>-->
    <!--<add name="mycon" connectionString="server=my-portfolio.in;database=PortView;uid=sa;pwd=investwell123; Connect Timeout=3000"/>-->
    <add name="mycon" connectionString="server=103.234.184.20,6434;database=PortView;uid=sa;pwd=Plio89iuy65; Connect Timeout=3000"/>
  
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>        
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>

    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <rewrite>
            <rules>
                <rule name="Hide .aspx ext">
                    <match url="^(.*)$" ignoreCase="true" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}.aspx" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}.aspx" />
                </rule>
                <rule name="Redirect .aspx ext" stopProcessing="true">
                    <match url="^(.*).aspx$" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="(.*).aspx$" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
  <system.web>
    <httpHandlers>
      <add verb="GET" path="Image.ashx" type="ASPNET_Captcha.Image, ASPNET_Captcha" />
    </httpHandlers>
    <sessionState timeout="60000"></sessionState>
    <compilation debug="true" targetFramework="4.0"/>    
  </system.web>
  
</configuration>